body {
    /*display: flex;*/
}
.firstrow {
    display: flex;
}
.secondrow {
    display: flex;
}
div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.rgb_lb {
    background-color: rgb(0, 0, 200);
    background: url("../img/aas.jpg") center top/20% no-repeat,
                url("../img/rand.jpg") center bottom/20% no-repeat,
                url("../img/rand.jpg") center left/18% no-repeat;
}
.hsl_ro {
    background-color: hsl(240, 100%, 39%);
    background: radial-gradient(circle, white 50px, blue 100%);
    )
}
.hsla_lo {
    /*background-color: rgb(255, 165, 0);*/
    background-color: hsla(39, 100%, 50%, 0.5);
    background: repeating-linear-gradient(
            to bottom,
            red,
            white 15px,
            blue 15px,
            blue 30px);

}
.rgba_rb {
    /*background-color: rgba(255, 166, 0, 0.5);
    background: url("../img/rand.jpg") center top repeat;*/
    background-image: url(../img/aas.jpg);

    background-size: 25%;

    background-repeat: repeat;

}