@charset "UTF-8";
:root {
    --primary0: rgba(138,160,213,1); /* Dark */
    --primary1: rgba(161,181,226,1);
    --primary2: rgba(185,201,237,1);
    --primary3: rgba(208,219,245,1);
    --primary4: rgba(229,236,251,0.5); /* Light */
    --hover: rgba(255, 111, 78, 0.2);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary4);
}
.grid  {
    min-height: 98vh;
    display: grid;
    grid-auto-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 50px 100px 1fr 1fr 2fr 50px;
    grid-template-areas:
        ". logo nav nav ."
        ". foto foto foto ."
        ". content content content ."
        ". fotos fotos fotos . "
        ". foto_content foto_content foto_content ."
        ". footer footer footer .";
    grid-gap: 1px;
}
.logo {
    grid-area: logo;
    background-color: var(--primary0);
}
nav {
    grid-area: nav;
    background-color: var(--primary1);
}
header {
    grid-area: foto;
    background-color: lightyellow;
}
.content {
    grid-area: content;
    background-color: lightcyan;
}
.fotos {
    grid-area: fotos;
    background-color: white;
}
.foto_content {
    grid-area: foto_content;
    background-color: lightskyblue;
}
footer {
    grid-area: footer;
    background-color: black;
}
@media only screen and (max-width: 768px) {
    header {
        background-color: lightcyan;
    }
    .grid {
        grid-auto-columns: 2px 1fr 2px;
        grid-template-rows: 30px 30px 50px 50px 50px 1fr 1fr 2fr 50px;
        grid-template-areas:
        ". logo ."
        ". nav ."
        ". foto ."
        ". foto ."
        ". foto ."
        ". content ."
        ". content ."
        ". fotos ."
        ". fotos ."
        ". foto_content ."
        ". foto_content ."
        ". foto_content ."
        ". footer .";
    }
}