.container {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    background-color: #FFA500;
}
.card {
    display: flex;
/*//300px: minimale breedte*/
    flex: 1 1 400px;
    /*flex-flow: column;*/
    gap: 1rem;
    /*inline-size: 300px;*/
    /*padding-block: 0.5rem;*/
}
.card_content {
    display: flex;
    flex-flow: column;
}
.card-img {
    block-size: 50%;
    inline-size: auto;
}
a {
    align-self: center;
}
p {
    flex: 1;
}
@media all and (max-width: 400px) {
    .card {
        flex: 1 1 300px;
        flex-flow: column;
        padding-block: 0.5rem;
    }
    img {
        order: 2;
    }
}