* {
    background-color: lightcyan;
    /*font: italic 20px/1.3 'Trebuchet MS', Times, serif;*/
    font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
}
h2 {
    font-variant: small-caps;

}