body {
    background-color: #ffffe0;
    font-family: "Trebuchet MS" ;
    font-size: 14px;
}
h1 {
    color: orange;
    font-size: 20px;
}
h2 {
    color: sandybrown;
    font-size: 18px;
}
p {
    font-size: 16px;
}
p::first-letter {
    font-size: 18px;
    color: blue;
}
p::first-line {
    color: red;
}